body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-cadeado {
    width: 200px;
    margin-top: 20px;
    border: 1px solid #000000;
}

.container {
    background-color: #FAFAFA;
    border: 1px solid #a4b8a0;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

.exemplo {
    background-color: #ffefd5;
    border: solid #808080 1px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h2::first-letter {
    color: #00008b;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    text-shadow: 8px 8px 5px;
}

p::first-letter {
    color: #000000;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    height: 36px;
    border: 1px solid #a4b8a0;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
}

input:focus::placeholder {
    color: #070435;
    font-weight: bold;
}

button {
    background-color: #116b5c;
    color: #FAFAFA;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100%;
}

button.active {
    cursor: pointer;
    box-shadow: 6px 6px 6px #1a8573;
}

button.active:hover{
    background: #008000;
    border: 1px solid #000000;
    box-shadow: 6px 6px 6px #17b917;
}

#loginButton {
    transition: opacity 0.5s ease-in-out;
}

#loginButton.hidden {
    opacity: 0;
}

/* Media queries para tornar o estilo responsivo */
@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 479px) {
    .img-cadeado {
        width: 150px;
    }
}